.titleDetail{
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    /* margin: 80px; */
    margin-top: 120px;
    margin-bottom: 10px;
}

h4{
    text-align: center;
    align-items: center;
}

.container{
    width: 100%;
    /* background-color: #aca2d7; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    /* background-color: #aca2d7; */
    background-color: #8064d3ca;
    background-image: linear-gradient(to bottom, #7f4f8d7b, #42185977);
    box-shadow: 7px 3px 10px rgba(55, 48, 70, 0.61);
    max-width: 700px;
    padding: 10px;
    border: 3px ;
    margin: 10px auto;
    border-radius: 12px;
}
.box img{
    max-width: 250px;
    height: 200px;
    display: block;
    object-fit: cover;
    padding: 40px;
    float: left;
    /* border-radius: 12px; */

}

.box .title,
.box .info{
    width: 50%;
    padding: 0 5px;
    min-width: 300px;
    float: right;
}
h2{
    /* line-height: ; */
    text-align: left;
}
h3{
    margin: 10px 0;
    /* justify-self: ; */
    text-align: left;

}
img{
    border-radius: 50px;
}

.box-act{
    background-color: #b964d3ca;
    background-image: linear-gradient(to bottom, #7f4f8d7b, #42185977);
    box-shadow: 7px 3px 10px rgba(55, 48, 70, 0.61);
    max-width: 200px;
    padding: 10px;
    border: 3px ;
    margin: 10px auto;
    border-radius: 12px;
    text-align: left;
}
.activity-container {
    width: 400px;
    background-image: linear-gradient(to bottom, #7f4f8d7b, #42185977);
    box-shadow: 7px 3px 10px rgba(55, 48, 70, 0.61);
    background-color:#b964d3ca;;
    border-radius: 2rem;
    display: inline-grid;
    grid-template-columns: 45% 50%;
    grid-template-rows: 30% 1fr 30%;
    /* grid-template-areas:
      "nombre nombre"
      "dificultad descripcion"
      "temporada  fechas"; */
    justify-items: center;
    text-align: left;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 1.2rem;
    gap: 0.5rem;
    margin: 1rem;
    /* box-shadow: 7px 3px 10px var(--box-shadow-color); */
}
  
